# Serial
pyserial>=3.5

# Audio
libportaudio2
portaudio19-dev
sounddevice>=0.4.6
python3-numpy>=2.2.4

# STT - Whisper
whispercpp>=0.0.17

# TTS - Piper
piper-tts>=1.2.0

# LLM
llama-cpp-python>=0.2.50

# Utils
pyyaml>=6.0
pydantic>=2.0
